body {
    margin: unset;
    font-family: 'Inter';
}

header {
    background-color: grey;
    height: 100vh;
}

nav {
    background-color: #004e89;
    height: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 0px 30px 0px;
}

.header-logo {
    grid-column: 2 / span 1;
}

#english {
    grid-column: 3 / span 1;
    justify-self: end;
    width: 182px;
    height: 44px;
    background-color: #fe6b35;
    border: unset;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
}

.banner {
    background-color: rgb(151, 151, 151);
    display: flex;
    position: relative;
    height: calc(100% - 55px);
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    top: 5px !important;
}

.swiper-pagination-bullet-active {
    background: #fe6b35;
}

.jumppy {
    position: absolute;
    bottom: 5px;
    left: calc((100% - 400px)/2);
    z-index: 1;
    animation-duration: 3s;
    animation-name: jump;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        bottom: 5px;
    }

    60% {
        bottom: 15px;
    }

    63% {
        bottom: 5px;
    }

    65% {
        bottom: 10px;
    }

    68% {
        bottom: 8px;
    }

    70% {
        bottom: 5px;
    }

    100% {
        bottom: 5px;
    }
}

.jumppy img {
    width: 400px;
}

main {
    background-color: blanchedalmond;
    /* height: 2000px; */
    display: flex;
    justify-content: center;
    padding: 50px 50px;
}

.search-section {
    background-color: brown;
    width: 150px;
}

.card-section {
    background-color: rgb(42, 165, 138);
    /* width: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.resultandbtn {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.card-result {
    background-color: rgb(118, 170, 118);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    width: 820px;
    min-height: 270px;
    padding: 20px;
    box-shadow: 2px 2px 3px #d1d1d1;
    border: 3px solid transparent;
    margin-bottom: 35px;

    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
}

.card:hover {
    border: 3px solid #fe6b35;
}

.card-img {
    width: 100%;
    height: 100%;
    min-height: 250px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    color: #004b87;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.auth {
    display: flex;
    gap: 8px;
    align-items: center;
}

.auth img {
    height: 20px;
    width: auto;
    opacity: 0.85;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.info-text {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 1px;
}

.info-text i {
    color: #F7C59F;
    font-size: 18px;
    width: 24px;
    text-align: center;
}

.tag-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    border: 1px solid #fe6b35;
    color: #1A659E;
    min-width: 40px;
    height: 20px;
    padding: 2px 12px;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;

    cursor: default;
}

.card-btn {
    background-color: #fe6b35;
    color: white;
    width: 100%;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 10px;

    letter-spacing: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    text-indent: 6px;

    cursor: pointer;
}

.card-btn:hover {
    background-color: white;
    color: #fe6b35;
    border: 2px solid #fe6b35;
}

.pages {
    background-color: rgb(209, 135, 169);
    display: flex;
    justify-content: center;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.pagination a {
    display: block;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #004E89;
}

.pagination a[aria-current="page"] {
    background-color: #fe6b35;
    color: white;
}

footer {
    background-color: #004e89;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 360px;
}

.intro {
    color: white;
    font-size: 24px;
    margin-right: 20px;
}

#contact-link {
    color: white;
}